.popup-profile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s;
  }

@media screen and (max-width: 680px) {
  .popup-profile {
    flex-direction: column-reverse;
  }
}

.popup-profile.popup_active {
  visibility: visible;
  opacity: 1;
}