.place__descript {
    min-width: 282px;
    box-sizing: border-box;
    padding: 25px 21px 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }