.profile__nameline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (max-width: 680px) {
    .profile__nameline {
      justify-content: center;
    }
  }