.place__delete-button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 15px;
  }

  .place__delete-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }