.elements__places {
    margin: 0 auto;
    padding: 48px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    column-gap: 18px;
    row-gap: 21px;
    justify-content: center;
  }