.input-card__field {
    width: 358px;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 12px;
  }
  
  @media screen and (max-width: 680px) {
    .input-card__field {
      max-width: 238px;
    }
  }