.popup-profile_active {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;       
  }

  @media screen and (max-width: 680px) {
    .popup-profile_active {
      flex-direction: column-reverse;
    }
  }